<div class="login">
  <div class="container">
    <%= form_for(:session, url: login_path) do |f| %>
    <p><%= f.email_field :email, :placeholder => "Email" %></p><br>
    <p><%= f.password_field :password, :placeholder => "Password" %></p><br>
    <br>      
    <p><%= f.submit "Log in", class: 'btn-submit' %></p>
    <% end %>
  </div>
</div>